<h1>Личности</h1>

<button ng-click="saveToDisk(persons)"> Сохранить на диск </button>	
<button ng-click="loadFromDisk()"> Загрузить с диска </button>	

<br /> <br />
<div ng-show="addNewVisible">
	<input type="text" ng-model="newPerson.name" /> 
	<button ng-click="savePerson(newPerson)">Сохранить</button>
</div>

<button ng-show="!addNewVisible" type="text" ng-click="addNewVisible = !addNewVisible">Добавить</button> 
<button ng-show="addNewVisible" type="text" ng-click="addNewVisible = !addNewVisible">Отменить</button> 

<div ng-repeat="person in persons"> 
	<fieldset>
	<legend>
			{{person.name}}
	</legend>
	<h3>Карточки (всего: {{person.cards.length}})</h3>
	<div editable-list="person.cards"></div>
	
	<h3>Браслеты (всего: {{person.bracers.length}})</h3>
	<div editable-list="person.bracers"></div>	
	</fieldset>
</div>