<h1>Persons</h1>

<button ng-click="saveToDisk(persons)"> Save to disk </button>	
<button ng-click="loadFromDisk()"> Load from disk </button>	

<br /> <br />
<div ng-show="addNewVisible">
	<input type="text" ng-model="newPerson.name" /> 
	<button ng-click="savePerson(newPerson)">Save</button>
</div>

<button ng-show="!addNewVisible" type="text" ng-click="addNewVisible = !addNewVisible">Add</button> 
<button ng-show="addNewVisible" type="text" ng-click="addNewVisible = !addNewVisible">Cancel</button> 

<div ng-repeat="person in persons"> 
	<fieldset>
	<legend>
			{{person.name}}
	</legend>
	<h3>Cards (total: {{person.cards.length}})</h3>
	<div editable-list="person.cards"></div>
	
	<h3>Bracelets (total: {{person.bracers.length}})</h3>
	<div editable-list="person.bracers"></div>	
	</fieldset>
</div>
