<!--<ul class="nav">-->
	<!--<li><a href="#/z_creation" vacine-creation_load-comp_default.html""">{{"vaccine_creation" | localized}}</a></li>-->
	<!--<li class="active"><a href="#/email">{{"email" | localized}}</a></li>-->
<!--</ul>-->
<div class="ui fluid two item top attached tabular menu blue">
	<a class="item" data-tab="first" href="#/main">{{"vaccine_creation" | localized}}</a>
	<a class="item active" data-tab="second" href="#/email">{{"email" | localized}} ({{"sent_emails:caption" | localized}})</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="second" style="min-height: 800px; padding: 0px">

	<div class="col-2">
		<div class="same-height">
			<div class="side-nav">
				<ul>
						<li class="compose">
							<a href="#/compose_email" class="ui green button">
								{{"compose_email" | localized}}
							</a>
						</li>
					<li class="bold"><a href="#/email">{{"inbox" | localized}} <span><span ng-if="vm.getUnreadEmails()">({{vm.getUnreadEmails()}})</span></span></a></li>
					<li class="active"><a href="">{{"sent_emails:caption" | localized}}</a></li>
				</ul>
			</div>
			<div class="content">
				<h2>{{"sent_emails:caption" | localized}}</h2>
				<p class="desc">{{"email_retention_policy" | localized : vm.getRemovedBeforeDate()}}</p>
				<table class="table-emails">
					<thead>
						<tr class="bold">
							<th><a href="">{{"email_from" | localized}}</a></th>
							<th><a href="">{{"email_subject" | localized}}</a></th>
							<th class="active"><a href="">{{"email_date" | localized}}</a></th>
						</tr>
						<tbody>
							<tr ng-repeat="email in vm.state.sentEmails" ng-click="vm.onEmailClick($index)">
								<td><a href="" ng-bind-html="email.from | unsafe"></a></td>
								<td><a href="">{{email.title}}</a></td>
								<td><a href="">{{vm.getTimestamp(email.timestampMoment)}}</a></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>{{"total_emails" | localized : vm.state.sentEmails.length}}</td>
							</tr>
						</tfoot>
					</thead>
				</table>
				<div class="email-box">
					<div class="box-header">
						<img src="img/avatar/steve.jpg" height="70" width="70">
						<div class="box-right">
							<p class="date">{{vm.getTimestamp(vm.state.sentEmails[vm.selectedIndex].timestampMoment)}}</p>
							<h4>{{vm.state.sentEmails[vm.selectedIndex].title}}</h4>
						</div>
					</div>
					<div class="to">
						<p>{{"email_to" | localized}}: <span>{{vm.state.sentEmails[vm.selectedIndex].to}}</span></p>
					</div>
					<div ng-if="vm.state.sentEmails[vm.selectedIndex].predefined" class="box-body" ng-bind-html="vm.state.sentEmails[vm.selectedIndex].body | unsafe">
					</div>
					<div ng-if="!vm.state.sentEmails[vm.selectedIndex].predefined" style="whitespace: pre-wrap; overflow:hidden" class="box-body">
						{{vm.state.sentEmails[vm.selectedIndex].body}}
					</div>
				</div>
			</div>
		</div>
	</div>

</div>