<div class="ui justified container">
  <div class="ui middle aligned divided list">

    <div class="item">
      <h2>Game started at:
        <span> {{getTimeStampDate(gameState.zombie.game_started_time)}}</span>
        &nbsp;&nbsp;Duration:
        <span> {{getTimeStampGameLength(gameState.zombie.game_started_time)}}</span>
			</h2>
    </div>

    <div class="item">
      <h2>Game language:
				<span> {{gameState.zombie.game_language}}</span>
			</h2>
    </div>

    <div class="item">
      <h2>Game state:
        <span> {{gameState.zombie.game_status}}</span>
      </h2>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Autoclave
        </div>
        <div class="five column">
          Status:
          <span ng-if="gameState.zombie.sterilizer_lock_on">
						<i class="lock icon"></i> ACTIVE
					</span>
          <span ng-if="!gameState.zombie.sterilizer_lock_on">
						<i class="unlock icon"></i> COMPLETE
					</span>
        </div>
        <div class="three column">
          <div>Temperature: {{gameState.zombie.sterilizer_panel_temperature}}</div>
        </div>
        <div class="two column">
          <button ng-if="gameState.zombie.sterilizer_lock_on" class="ui primary button" ng-click="sendGetCommand('sterilizer_lock_on', false)">
            TURN MAGNET OFF
          </button>
          <button ng-if="!gameState.zombie.sterilizer_lock_on" class="ui button" ng-click="sendGetCommand('sterilizer_lock_on', true)">
            TURN MAGNET ON
          </button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Bunker Door
        </div>
        <div class="five column">
          <span ng-if="!gameState.zombie.prison_correct_input">ACTIVE</span>
          <span ng-if="gameState.zombie.prison_correct_input">COMPLETE</span>
        </div>
        <div class="three column">
          <div>Completed left-door steps: {{gameState.zombie.prison_left_valve_succeeded_action_number}}</div>
          <div>Completed right-door steps: {{gameState.zombie.prison_right_valve_succeeded_action_number}}</div>
          <div>Active algorithm: {{gameState.zombie.prison_lock_active_algo_number}}</div>
        </div>
        <div class="two column">
          <button ng-if="gameState.zombie.prison_lock_on" class="ui primary button" ng-click="sendGetCommand('prison_lock_on', false)">
            TURN MAGNET OFF
          </button>
          <button ng-if="!gameState.zombie.prison_lock_on" class="ui button" ng-click="sendGetCommand('prison_lock_on', true)"> TURN MAGNET ON
          </button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Final Box
        </div>
        <div class="eight column">
          <span ng-if="!gameState.zombie.final_box_finished">ACTIVE</span>
          <span ng-if="gameState.zombie.final_box_finished">COMPLETE</span>
          <div>{{(gameState.zombie.final_box_lock_on ? "Magnet ON": "Magnet OFF")}}</div>
        </div>
        <div class="two column">
          <div class="col-md-3 col-xs-4 col-sm-4">Catalyst {{gameState.zombie.final_box_catalyst_placed ? "IN PLACE" : "MISSING"}}</div>
          <div class="col-md-3 col-xs-4 col-sm-4">Reagent {{gameState.zombie.final_box_reagent_placed ? "IN PLACE" : "MISSING"}}</div>
          <div class="col-md-3 col-xs-4 col-sm-4">Process {{gameState.zombie.final_box_in_progress ? "STARTED" : "NOT STARTED"}}</div>
          <button ng-if="gameState.zombie.final_box_lock_on" class="ui primary button" ng-click="sendGetCommand('final_box_lock_on', false)">
            TURN MAGNET OFF
          </button>
          <button ng-if="!gameState.zombie.final_box_lock_on" class="ui button" ng-click="sendGetCommand('final_box_lock_on', true)">
            TURN MAGNET ON
          </button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Professor Table
        </div>
        <div class="eight column">
          {{(gameState.zombie.final_box_card_active ? "Reader ON": "Reader OFF")}}
        </div>
        <div class="two column">
          <button ng-if="gameState.zombie.final_box_card_active" class="ui primary button" ng-click="sendGetCommand('final_box_card_active', false)">
            TURN MAGNET OFF
          </button>
          <button ng-if="!gameState.zombie.final_box_card_active" class="ui button" ng-click="sendGetCommand('final_box_card_active', true)">
            TURN MAGNET ON
          </button>
        </div>
      </div>
    </div>

    <!--
    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Entrance Door
        </div>
        <div class="eight column">
          {{(gameState.zombie.input_lock_on ? "Magnet ON": "Magnet OFF")}}
        </div>
        <div class="two column">
          <button class="ui primary button" ng-click="sendGetCommand('input_lock_on', false)"> TURN MAGNET OFF
          </button>
          <button class="ui button" ng-click="sendGetCommand('input_lock_on', true)"> TURN MAGNET ON
          </button>
        </div>
      </div>
    </div>
    -->

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Pneumatic Mail (Girl)
        </div>
        <div class="eight column">
          {{(gameState.zombie.girl_air_tube_lock_on ? "Lock ON": "Lock OFF")}}
        </div>
        <div class="two column">
          <button ng-if="gameState.zombie.girl_air_tube_lock_on" class="ui primary button" ng-click="sendGetCommand('girl_air_tube_lock_on', false)">
            TURN MAGNET OFF
          </button>
          <button ng-if="!gameState.zombie.girl_air_tube_lock_on" class="ui button" ng-click="sendGetCommand('girl_air_tube_lock_on', true)">
            TURN MAGNET ON
          </button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Lighting
        </div>
        <div class="eight column">
          {{(gameState.zombie.main_light_on ? "ON": "OFF")}}
        </div>
        <div class="two column">
          <button ng-if="gameState.zombie.main_light_on" class="ui primary button" ng-click="sendGetCommand('main_light_on', false)">
            TURN MAGNET OFF
          </button>
          <button ng-if="!gameState.zombie.main_light_on" class="ui button" ng-click="sendGetCommand('main_light_on', true)"> TURN MAGNET ON
          </button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Language
        </div>
        <div class="eight column">
          Current: {{gameState.zombie.game_language}}
        </div>
        <div class="two column">
          <span ng-repeat="lang in languages">
						<button type="button" class="ui button" ng-click="sendGetCommand('game_language', lang)" ng-class="{'positive':lang===gameState.zombie.game_language}">{{lang}}</button>
						&nbsp;
					</span>
        </div>
      </div>
    </div>

    <a href="../labsite/#/girl_escape_observer">View Girl-Escape Game State</a>

    <h2>HINTS</h2>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> How do we find the password?
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('password_greece_conference', 'zombie')">The professor attended a conference in Greece</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('password_sun_with_flag', 'zombie')">Place the marked film on the diploma so the sun aligns with the flag.</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Where do we find the catalyst (reagent)?
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('plans_find_professor', 'zombie')">Try to find the professor in the building; he may still be alive</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('plans_what_floor_number', 'zombie')">Which floor is he on?</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('plans_put_floor_number', 'zombie')">Enter the floor number into the infection detector line</button>
        </div>

      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> What should we do here, where should we lead the girl?
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('girl_escape_lead_the_girl', 'zombie')">The mutating subject is the girl; lead her to allies</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('girl_fears_dark', 'zombie')">The girl moves toward light and is afraid of darkness and zombies</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('girl_turn_light_on_off', 'zombie')">To move the girl, turn off the light in her room and turn it on in the next one</button>
        </div>

      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> Open the laboratory door, find the key.
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('door_be_attentive', 'zombie')">Look around more carefully</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('door_girl_look_attentive', 'zombie')">Pay attention to the console above the monitor</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('door_look_at_eye_level', 'zombie')">Inspect the room carefully at eye level</button>
        </div>

      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i> What should we do with the vial?
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('catalyst_two_circles', 'zombie')">Notice the 2 gray circles. Try pressing them</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('catalyst_cental_wardrobe', 'zombie')">Inspect the central cabinet</button>
        </div>

      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i>Open autoclave / set required temperature
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('sterilizer_animal_experience', 'zombie')">Animal experiments were conducted in the laboratory</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('sterilizer_first_examples', 'zombie')">The first vaccine samples were tested on animals</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('sterilizer_rat_survived', 'zombie')">One of the test animals survived</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('sterilizer_fixate_temp', 'zombie')">Set the toggles to lock the temperature</button>
        </div>

      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i>Open the bunker door
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('bunker_algo_at_mail', 'zombie')">Carefully read the "security algorithm" email in the professor mailbox</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('bunker_simultaneously', 'zombie')">The handwheels must be rotated simultaneously</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('bunker_red_lines', 'zombie')">For convenience, set initial handwheel positions along the guides</button>
        </div>

      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i>Take blood from zombie using analyzer
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('analysis_equipment', 'zombie')">Use the device to take a blood sample</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('analysis_put_to_hole', 'zombie')">Insert the device into the hole in the cage</button>
        </div>

      </div>
    </div>


    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i>Find strain by table
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('table_find_strain', 'zombie')">Use the strain map and analyzer scale readings to find the strain</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('table_strain_rules', 'zombie')">The top of the table explains how the strain is formed</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('table_strain_maths', 'zombie')">To determine the trait, find the required range. Solve the inequality</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui equal width  grid container">
        <div class="two column">
          <i class="circular users icon"></i>Start vaccine creation: place the professor card on the left, then press
          the Start button on the computer
        </div>
        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('creation_search_on_table', 'zombie')">Search the table carefully</button>
        </div>

        <div class="one column">
          <button type="button" class="ui button" ng-click="sendPlaySoundRequest('creation_table_left', 'zombie')">Pay attention to the left area of the table</button>
        </div>
      </div>
    </div>

  </div>
</div>


